*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;
    color: white; /* color principal del texto */
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.50em;
font-weight: bold;

color: white; /* color principal del texto */
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: green;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

.container{
    max-width: 1200px;
    margin: auto;
}

header{
    background-color: gainsboro;    

}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: green;
    font-size: 1.6em;
}


header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#destino-cartagena{
    background-color: rgb(30,30,30);
    color: white;
     text-align: center;
}

#destino-cartagena .container{
   padding: 200px 0px;
}

#destino-cartagena h2{margin-top: 0;}



#destino-cartagena .carta{
     background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/aventura.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/playas.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/cultura.jpg");


}

    #final{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(30,30,30);
        color: white;
        height: 60vh;
    }


 #final h2{
        font-size: 5vw;
    }

    #final button{
        font-size: 2vw;
    }

    footer{
        background-color: rgb(230,230,230);
    }

    footer.container{
        justify-content: flex-end;
    }

    footer p{
        margin: 0;
        color: rgb(100, 100, 100);
        text-align: center;
    }

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
}